<html lang="en">
<head>
    <meta charset="utf-8">
    <title>API</title>
  <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css"/>
</head>
<body>
  <div class="container">
    <div class="card">
      <div class="card-header text-center">LIST OF API KEYS</div>
      <div class="card-body"> 
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>USER </th>
              <th>API KEY</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
             {{#each results}}
            <tr>
              <td>{{ api_user }}</td>
              <td>{{ api_key }}</td>
              <td>
                <a href="/delete/{{ api_id }}" class="btn btn-sm btn-danger">Delete</a>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
        <hr />
        <div class="row">
        <div class="col-md-6">
        <form action="/save" method="post">
          <div class="form-group">
            <input type="text" class="form-control" name="api_key" placeholder="api key" id="api_key" required="" readonly="">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="api_user" placeholder="api user" required="">
          </div>
          <input type="submit" class="btn btn-success" value="Add">
        </form>
        </div>
        <div class="col-md-6"><button class="btn btn-info" onclick="generateKey()">Generate Key</button></div>
        </div>
      <div class="card-footer text-center">&copy 2020</div>
  </div>
</div>
<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/bootstrap.js"></script>
<script type="text/javascript">
//generate api key source https://codepen.io/corenominal/pen/rxOmMJ  
  function generateKey(){
    var d = new Date().getTime();
    var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c)
    {
      var r = (d + Math.random()*16)%16 | 0;
      d = Math.floor(d/16);
      return (c=='x' ? r : (r&0x3|0x8)).toString(16);
    });
    document.getElementById("api_key").value = uuid;
  }  

</script>
</body>
</html>